<!DOCTYPE HTML>
<html>
<head>
    <title>game page</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<h1>도전! 계산왕</h1>

<script src="/jquery/jquery_comp.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<!--<script src="/app/js/game.js"></script>-->
</body>
</html>